* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
table {
  width: 100%;
  font-size: 18px;
  text-align: center;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  border-radius: 0.1rem;
}

tbody tr {
  background-color: antiquewhite;
  border-radius: 10px;
  text-align: center;
}

tbody tr:hover {
  background-color: #0001;
  cursor: pointer;
}